* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: linear-gradient(135deg, #432d2d, #020617);
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 90%;
  padding: 15px 30px;

  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
}


.navbar nav span {
  margin: 0 10px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s;
}

.navbar nav span:hover {
  color: white;
}


.navbar input {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;

  background: rgba(255,255,255,0.08);
  color: white;
  backdrop-filter: blur(5px);
}

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
}


.hero-banner {
  flex: 3;
  height: 300px;
  border-radius: 20px;

  background:
    linear-gradient(to right, rgba(0,0,0,0.7), transparent),
    url("https://images.unsplash.com/photo-1608889175123-8ee362201f81");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  padding: 20px;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
}


.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  margin: 10px 0;
  color: #ddd;
}

.hero-text button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;

  background: rgba(255,255,255,0.2);
  color: white;
  backdrop-filter: blur(5px);

  transition: 0.3s;
}

.hero-text button:hover {
  background: white;
  color: black;
}

.side-cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-card {
  flex: 1;
  border-radius: 15px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
}

.side-card:hover {
  transform: scale(1.05);
}


.controls {
  width: 90%;
  margin: auto;
  padding: 15px;

  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.controls select {
  padding: 8px;
  margin-right: 10px;
  border-radius: 6px;
  border: none;

  background: rgba(255,255,255,0.08);
  color: white;
}


.section-title {
  padding-left: 40px;
  margin-top: 10px;
}


.trending-row {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 20px 40px;
}


.movie-card {
  min-width: 150px;
  border-radius: 12px;
  overflow: hidden;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);

  transition: 0.3s;
}

.movie-card img {
  width: 100%;
}

.movie-card:hover {
  transform: scale(1.08);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

button {
  margin: 5px;
}

.movie-card h3 {
  font-size: 0.9rem;
}